body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}
/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop screen */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
  }
}

:root {
  /* Colors */
  --text-color: #434455;
  --prymary-brand-color: #4d5ae5;
  --dark-logo-color: #2e2f42;
  --light-logo-color: #f4f4fd;
  --pressed-state-color: #404bbf;
  --borders-color: #e7e9fc;
  --helper-light: #8e8f99;
  --success-green: #31d0aa;

  /* Breakepoints */
  --phone-screen: 480px;
  --tablet-screen: 768px;
  --desktop-screen: 1200px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Reset start */
.link {
  text-decoration: none;
  color: currentColor;
}
.button {
  cursor: pointer;
  border: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Reset end */

/* Logo styles */
.logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--prymary-brand-color);
}

.dark-logo {
  color: var(--dark-logo-color);
}
.light-logo {
  color: var(--light-logo-color);
}

/* Header styles */
.page-header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid var(--borders-color);
  z-index: 100;
}
.menu-mobile {
  margin-left: auto;
  fill: var(--dark-logo-color);
  background: none;
  height: 70px;
}
.svg-mobile-menu {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.page-nav,
.menu,
.contacts,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .menu,
  .contacts {
    display: none;
  }

  .logo {
    line-height: 1.167;
  }
}
.menu {
  font-weight: 500;
  color: var(--dark-logo-color);
}
.menu-item > a {
  color: inherit;
}
.menu-item.activity {
  color: var(--pressed-state-color);
  position: relative;
}
.link-activity::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}
.menu-link,
.contacts-link {
  display: inline-block;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item {
  font-style: normal;
}
.contacts-link:hover,
.contacts-link:focus,
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
  .menu {
    margin-left: 123px;
    gap: 40px;
  }
  .contacts {
    margin-right: auto;
  }
  .menu-link {
    padding: 24px 0 22px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    padding-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 71px;
  }
  .menu-link,
  .contacts-link {
    padding: 24px 0 28px 0;
  }
  .contacts {
    gap: 40px;
  }
}

/* Main content */
main {
  padding-top: 71px;
}
/* Hero Section */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/background_mob.jpg);
  background-color: var(--dark-logo-color);
  max-width: 1440px;
  min-width: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 112px 0;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/background_mob@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/background_tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/background_tab@2x.jpg);
    }
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/background_desk.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/background_desk@2x.jpg);
    }
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 auto 72px auto;
}
@media screen and (max-width: 767px) {
  .hero-title {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0 108px;
  }
  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
    text-transform: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-button {
  align-items: center;
  color: #ffffff;
  background-color: var(--prymary-brand-color);
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: color, background-color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Section Features */
.list-features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}
.section-features {
  font-weight: 500;
  padding-top: 96px;
  padding-bottom: 96px;
}
.item-title.feature {
  margin-bottom: 8px;
}
.icon-feature-background {
  display: none;
}
.item-title.feature {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .item-title.feature {
    text-align: start;
  }
  .list-item-feature {
    width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .section-features {
    font-weight: 400;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .icon-feature-background {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
    background: var(--light-logo-color);
    border-radius: 4px;
    text-align: center;
  }
  .item-title.feature {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: none;
  }
  .list-item-feature {
    width: 264px;
  }
}

/* Section About Us */
.section-info {
  display: none;
}
.list-img {
  display: flex;
  gap: 24px;
}
.section-title {
  margin-bottom: 72px;
}

@media screen and (min-width: 1200px) {
  .section-info {
    display: block;
    padding-bottom: 120px;
  }
}
/* Section Team */
.section-team {
  width: 100%;
  min-width: 320px;
  background-color: var(--light-logo-color);
  padding: 96px 0 128px;
}
@media screen and (min-width: 768px) {
  .section-team {
    padding-bottom: 104px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-logo-color);
}
.list-team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  row-gap: 72px;
  column-gap: 24px;
}
.team-wraper {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.item-title {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-logo-color);
  margin-bottom: 8px;
}
.list-item-team {
  flex-basis: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-social {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.link-social {
  background-color: var(--prymary-brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--light-logo-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: var(--pressed-state-color);
}
.icon-social {
  fill: currentColor;
}
/* Section Customers */
.section-customers {
  padding: 96px 0;
}
.list-customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}
.item-customers {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}
@media screen and (min-width: 768px) {
  .item-customers {
    flex-basis: 168px;
  }
  .list-customers {
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .section-customers {
    padding: 120px 0;
  }
}

.link-customers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--helper-light);
  border-radius: 4px;
  color: var(--helper-light);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-customers:hover,
.link-customers:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
.icon-logo {
  fill: currentColor;
}
/* Section Portfolio */
.portfolio {
  padding: 48px 0;
}
.list-button {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;
  margin-bottom: 48px;
}
.button-filter {
  padding: 8px 16px;
  align-items: center;
  background: var(--light-logo-color);
  border: 1px solid var(--borders-color);
  border-radius: 4px;
  color: var(--prymary-brand-color);
  transition-property: color, background-color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus,
.hero-button:hover,
.hero-button:focus {
  background: var(--pressed-state-color);
  color: #ffffff;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding: 64px 0 96px;
  }
  .list-button {
    justify-content: center;
    margin-bottom: 64px;
  }
  .button-filter {
    padding: 12px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 96px 0 120px;
  }
  .list-button {
    justify-content: center;
    margin-bottom: 72px;
  }
}
.list-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.list-item-gallery {
  flex-basis: 396px;
}
@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .list-gallery {
    row-gap: 72px;
  }
}
@media screen and (min-width: 768px) {
  .list-item-gallery {
    flex-basis: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .list-item-gallery {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.gallery-wraper {
  padding: 32px 16px;
  border: 1px solid var(--borders-color);
  border-top: none;
  transition-property: color, background-color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-gallery:hover > .gallery-wraper,
.link-gallery:focus > .gallery-wraper {
  border: 0.5px solid var(--light-logo-color);
  border-top: none;
}
.link-gallery {
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-gallery:hover,
.link-gallery:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-gallery:hover .overlay,
.link-gallery:focus .overlay {
  transform: translateX(0);
}
.img-gallery {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--light-logo-color);
  background-color: var(--prymary-brand-color);
  padding: 40px 32px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer styles */
.footer {
  background-color: var(--dark-logo-color);
  padding-top: 96px;
  padding-bottom: 96px;
  min-width: 320px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form {
    margin-left: -24px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-text {
  color: var(--borders-color);
  width: 264px;
  margin-top: 16px;
}
.footer-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}
.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}
.wrapper-subscription {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 453px;
}
@media screen and (max-width: 767px) {
  .footer-title {
    text-align: center;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper-subscription {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .container-footer {
    justify-content: center;
  }
  .input-subscription {
    width: calc(100vw - 30px);
    max-width: 398px;
    min-width: 290px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-info {
    margin-right: 40px;
  }

  .container-footer {
    justify-content: flex-start;
    gap: 80px;
  }
}
.link-social-footer {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--light-logo-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-social-footer {
  display: flex;
  gap: 16px;
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: var(--success-green);
}
.input-subscription {
  height: 40px;
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .input-subscription {
    width: 264px;
  }
}
.input-subscription:hover,
.input-subscription:focus,
.input-subscription:not(:placeholder-shown) {
  border: 1px solid var(--prymary-brand-color);
  outline: var(--prymary-brand-color);
}
.icon-button {
  fill: currentColor;
}
.subscription-button {
  width: 165px;
  height: 40px;
  color: #ffffff;
  background: var(--prymary-brand-color);
  border-radius: 4px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-button:hover,
.subscription-button:focus {
  background: var(--pressed-state-color);
}
/* Mobile menu */

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  padding: 60px 40px 40px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}
.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--borders-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: currentColor;
}
.close-button:hover,
.close-button:focus {
  color: #ffffff;
  background-color: var(--pressed-state-color);
  border: none;
}
.mobile-list-menu .link {
  display: block;
  padding: 20px 0;
  color: var(--dark-logo-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-list-menu .link-aktivity-mobile,
.mobile-list-menu .link:hover,
.mobile-list-menu .link:focus,
.mail-link:hover,
.mail-link:focus {
  color: var(--pressed-state-color);
}
.tel-link-item {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--prymary-brand-color);
}
.list-social-mobile {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.mail-link-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  padding: 72px 24px 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 36px);
  min-height: 586px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms,
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 408px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -75%);
  opacity: 0;
  transition-delay: 100ms;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.title-form {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-logo-color);
  text-align: center;
  margin: 0 auto 16px auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--helper-light);
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label-form.name {
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.textarea {
  padding: 8px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  font-size: 18px;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:hover + .form-icon,
.input:focus + .form-icon,
.input:not(:placeholder-shown) + .form-icon {
  fill: var(--prymary-brand-color);
}
.input:hover,
.textarea:hover,
.input:focus,
.textarea:focus,
.input:not(:placeholder-shown),
.textarea:not(:placeholder-shown) {
  border: 1px solid var(--prymary-brand-color);
  outline: var(--prymary-brand-color);
}
.form-icon {
  position: absolute;
  left: 19px;
  bottom: 14px;
  fill: var(--dark-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-ckeckbox {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark-logo-color);
  border-radius: 2px;
  color: rgba(244, 244, 253, 0);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-checkbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}
.checkbox-hidden:checked + .checkbox {
  color: var(--light-logo-color);
  background-color: var(--pressed-state-color);
  border: none;
}
.accord-link {
  color: var(--prymary-brand-color);
  text-decoration: underline;
  text-underline-offset: 2px;
}
.button-form {
  width: 169px;
  height: 56px;
  background: var(--prymary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-form:hover,
.button-form:focus {
  background: var(--pressed-state-color);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
