body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}
/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop screen */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

:root {
  /* Colors */
  --text-color: #434455;
  --prymary-brand-color: #4d5ae5;
  --dark-logo-color: #2e2f42;
  --light-logo-color: #f4f4fd;
  --pressed-state-color: #404bbf;
  --borders-color: #e7e9fc;
  --helper-light: #8e8f99;
  --success-green: #31d0aa;

  /* Breakepoints */
  --phone-screen: 480px;
  --tablet-screen: 768px;
  --desktop-screen: 1200px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Reset start */
.link {
  text-decoration: none;
  color: currentColor;
}
.button {
  cursor: pointer;
  border: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* Reset end */

/* Logo styles */
.logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--prymary-brand-color);
}
.dark-logo {
  color: var(--dark-logo-color);
}
.light-logo {
  color: var(--light-logo-color);
}

/* Header styles */
.page-header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid var(--borders-color);
  z-index: 100;
}
/* Main content */
main {
  padding-top: 76px;
}
/* Section Features */
.list-features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}
.section-features {
  font-weight: 500;
  padding-top: 96px;
  padding-bottom: 96px;
}
.item-title.feature {
  margin-bottom: 8px;
}
.icon-feature-background {
  display: none;
}
.item-title.feature {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .item-title.feature {
    text-align: start;
  }
  .list-item-feature {
    width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .section-features {
    font-weight: 400;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .icon-feature-background {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
    background: var(--light-logo-color);
    border-radius: 4px;
    text-align: center;
  }
  .item-title.feature {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: none;
  }
  .list-item-feature {
    width: 264px;
  }
}

/* Section About Us */
.section-info {
  display: none;
}
/* Section Team */
.section-team {
  width: 100%;
  min-width: 320px;
  background-color: var(--light-logo-color);
  padding: 96px 0 128px;
}
@media screen and (min-width: 768px) {
  .section-team {
    padding-bottom: 104px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-logo-color);
}
.list-team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  row-gap: 72px;
  column-gap: 24px;
}
.team-wraper {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.item-title {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-logo-color);
  margin-bottom: 8px;
}
.list-item-team {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-social {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.link-social {
  background-color: var(--prymary-brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--light-logo-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: var(--pressed-state-color);
}
.icon-social {
  fill: currentColor;
}
